LAN-1_firstDNS="xxxxxx"
LAN-1_gateway="192.168.0.1"
LAN-1_ip="192.168.0.2"
LAN-1_mask="255.255.255.1"
LAN-1_mode="auto"
LAN-1_port="22"
LAN-1_secondDNS="xxxx"
LAN-2_firstDNS="xxxxx"
LAN-2_gateway="xxxxx"
LAN-2_ip="xxxxxx"
LAN-2_mask="xxxxx"
LAN-2_mode="manual"
LAN-2_port="xxxxxx"
LAN-2_secondDNS="xxxxx"
deviceName="device1"
devicePlace="none"
